src/conf/xml-resources/web-service-references/CalculatorService_3/wsdl/localhost_8080/Assignment2/CalculatorService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.latrobe.edu.au/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.latrobe.edu.au/" name="CalculatorService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.latrobe.edu.au/" schemaLocation="http://localhost:8080/Assignment2/CalculatorService?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="divide">
<part name="parameters" element="tns:divide"/>
</message>
<message name="divideResponse">
<part name="parameters" element="tns:divideResponse"/>
</message>
<message name="DivideByZeroException">
<part name="fault" element="tns:DivideByZeroException"/>
</message>
<message name="multiply">
<part name="parameters" element="tns:multiply"/>
</message>
<message name="multiplyResponse">
<part name="parameters" element="tns:multiplyResponse"/>
</message>
<message name="subtract">
<part name="parameters" element="tns:subtract"/>
</message>
<message name="subtractResponse">
<part name="parameters" element="tns:subtractResponse"/>
</message>
<portType name="CalculatorService">
<operation name="add">
<input wsam:Action="http://ws.latrobe.edu.au/CalculatorService/addRequest" message="tns:add"/>
<output wsam:Action="http://ws.latrobe.edu.au/CalculatorService/addResponse" message="tns:addResponse"/>
</operation>
<operation name="divide">
<input wsam:Action="http://ws.latrobe.edu.au/CalculatorService/divideRequest" message="tns:divide"/>
<output wsam:Action="http://ws.latrobe.edu.au/CalculatorService/divideResponse" message="tns:divideResponse"/>
<fault message="tns:DivideByZeroException" name="DivideByZeroException" wsam:Action="http://ws.latrobe.edu.au/CalculatorService/divide/Fault/DivideByZeroException"/>
</operation>
<operation name="multiply">
<input wsam:Action="http://ws.latrobe.edu.au/CalculatorService/multiplyRequest" message="tns:multiply"/>
<output wsam:Action="http://ws.latrobe.edu.au/CalculatorService/multiplyResponse" message="tns:multiplyResponse"/>
</operation>
<operation name="subtract">
<input wsam:Action="http://ws.latrobe.edu.au/CalculatorService/subtractRequest" message="tns:subtract"/>
<output wsam:Action="http://ws.latrobe.edu.au/CalculatorService/subtractResponse" message="tns:subtractResponse"/>
</operation>
</portType>
<binding name="CalculatorServicePortBinding" type="tns:CalculatorService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="divide">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DivideByZeroException">
<soap:fault name="DivideByZeroException" use="literal"/>
</fault>
</operation>
<operation name="multiply">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="subtract">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalculatorService">
<port name="CalculatorServicePort" binding="tns:CalculatorServicePortBinding">
<soap:address location="http://localhost:8080/Assignment2/CalculatorService"/>
</port>
</service>
</definitions>